<div [ngSwitch]="dynamicForm.controlType">
  <ng-container *ngTemplateOutlet="componentTop ?? null"></ng-container>
  <div *ngSwitchCase="'text'">
    <mat-form-field
      [id]="dynamicForm.key"
      [appearance]="dynamicForm.matFormFieldAppearance"
    >
      <mat-label [attr.for]="dynamicForm.key" *ngIf="dynamicForm.label">{{
        dynamicForm.label
      }}</mat-label>
      <input
        matInput
        [placeholder]="dynamicForm.placeholder"
        [formControl]="dynamicForm.formControl"
      />
      <mat-hint *ngIf="dynamicForm.hint">{{ dynamicForm.hint }}</mat-hint>
      <mat-error *ngIf="dynamicForm.formControl.invalid">{{
        dynamicForm.error
      }}</mat-error>
    </mat-form-field>
  </div>
  <div *ngSwitchCase="'boolean'">
    <mat-checkbox
      [id]="dynamicForm.key.toString()"
      [formControl]="dynamicForm.formControl"
      >{{ dynamicForm.label }}</mat-checkbox
    >
  </div>
  <div *ngSwitchCase="'selectGroup'">
    <mat-form-field
      [id]="selectGroupForm!.key"
      [appearance]="selectGroupForm!.matFormFieldAppearance"
    >
      <mat-label>{{ selectGroupForm!.label }}</mat-label>
      <mat-select
        [formControl]="selectGroupForm!.formControl"
        [placeholder]="selectGroupForm!.placeholder"
      >
        <mat-option>{{ selectGroupForm!.emptyOptionsLabel }}</mat-option>
        <mat-optgroup
          *ngFor="let group of selectGroupForm!.groupOptions"
          [label]="group.name"
          [disabled]="group.disabled"
        >
          <mat-option *ngFor="let item of group.array" [value]="item.key">
            {{ item.value }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngSwitchCase="'autocomplete'">
    <mat-form-field
      [id]="autocompleteForm!.key"
      [appearance]="autocompleteForm!.matFormFieldAppearance"
    >
      <mat-label>{{ autocompleteForm!.label }}</mat-label>
      <input
        matInput
        [matAutocomplete]="auto"
        [formControl]="autocompleteForm!.formControl"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let autocomplete of filteredAutocompleteOptions | async"
          [value]="autocomplete.value"
        >
          <img
            aria-hidden
            [src]="autocomplete.img?.src"
            [alt]="autocomplete.img?.alt"
            [width]="autocomplete.img?.width"
            [height]="autocomplete.img?.height"
          />
          <span>{{ autocomplete.value }}</span> |
          <small
            >{{ autocompleteForm!.smallElementLabel
            }}{{ autocomplete.value }}</small
          >
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <ng-container *ngTemplateOutlet="componentBottom ?? null"></ng-container>
</div>
