<div [ngSwitch]="dynamicForm.controlType">
  <div *ngSwitchCase="'text'">
    <mat-form-field [appearance]="dynamicForm.matFormFieldAppearance">
      <mat-label *ngIf="dynamicForm.label">{{ dynamicForm.label }}</mat-label>
      <input
        matInput
        [placeholder]="dynamicForm.placeholder"
        [formControl]="dynamicForm.formControl"
      />
      <mat-hint *ngIf="dynamicForm.hint">{{ dynamicForm.hint }}</mat-hint>
      <mat-error *ngIf="dynamicForm.formControl.invalid">{{
        dynamicForm.error
      }}</mat-error>
    </mat-form-field>
  </div>
</div>
